.App {
  width: 100%;
}

.board-container {
  margin: 10px;
  height: 600px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 600px;
  height: 600px;

  display: flex;
  flex-wrap: wrap;
}

.cell {
  margin: 1px;
  flex-basis: 32%;
  background: white;
  border: 1px solid black;
}

.cell.taken {
  background: red;
}

.cell.won {
  background-color: green;
}