.App {
  width: 100%;
}

.board-container {
  margin: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  height: 100%;
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 300px;
  flex-basis: 33%;
  background: white;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
}

.cell.taken {
  background: red;
}

.cell.won {
  background-color: green !important;
}